* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: linear-gradient(lightgray, rgba(0, 0, 0, 0));
    z-index: 1;
}

.topnav {
    background: linear-gradient(to right, purple, rgba(0, 0, 0, 0));
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 2;
}

.topnav a {
    float: left;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(196, 152, 236);
}

.topnav a.active {
    background-color: rgb(92, 43, 226);
}

#header {
    display: inline-block;
    color: black;
    user-select: none;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

#header p {
    margin-left: 20px;
    font-size: 2em;
}

#header h1,
h2 {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#general {
    box-shadow: 0 3px 10px rgb(50, 25, 119);
    background-color: white;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    user-select: none;
}

#general p {
    margin-left: 20px;
}

#general h2 {
    margin-left: 20px;
    border-bottom: 1px rgb(197, 197, 197) solid;
}

#photo {
    margin: auto;
    margin-top: 50px;
    width: 650px;
    height: 550px;
    overflow: none;
    text-align: center;
}


#image {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    object-fit: cover;
    box-shadow: 0 0 20px rgb(159, 48, 163);
}



.photo {
    position: relative;
    width: 50%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    overflow: none;
}

.overlay {
    position: absolute;
    bottom: 0px;
    background: black;
    background: rgba(0 0 0 0.5);
    color: white;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.photo:hover .overlay {
    opacity: 0.75;
}

/* #header:hover {
    box-shadow: 0 3px 10px rgb(92, 43, 226);
} */

#education {
    box-shadow: 0 3px 10px rgb(50, 25, 119);
    background-color: white;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;

}

#education h2 {
    border-bottom: 1px rgb(197, 197, 197) solid;
    margin-left: 20px;
    user-select: none;
}

#education h3 {
    margin-left: 20px;
    word-wrap: break-word;
}

#education p {
    margin-left: 20px;
}

#work {
    box-shadow: 0 3px 10px rgb(50, 25, 119);
    background-color: white;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

#work h2 {
    margin-left: 20px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    user-select: none;
    border-bottom: 1px rgb(197, 197, 197) solid;
}

#work h3 {
    margin: 5px;
}

#work p {
    margin-left: 20px;
}

#hobbies {
    box-shadow: 0 3px 10px rgb(50, 25, 119);
    margin-left: 50px;
    margin-right: 50px;
    background: white;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#hobbies h2 {
    margin-left: 20px;
    border-bottom: 1px rgb(197, 197, 197) solid;
    user-select: none;
}

#hobbies h3,
h4 {
    margin-left: 20px;
}